span Atom Angular Boilerplate

h1(translate="HOME_TITLE")
p(translate="HOME_TEXT")

a(href="https://github.com/atom-angular/boilerplate")
  | Check the code on&nbsp;
  i.fa.fa-github
  |   GitHub

a(href="https://github.com/atom-angular/styleguide")
  | Read the styleguide
