doctype html
html(lang='en', ng-app='boilerplate')
  head
    title Atom Angular Boilerplate
    meta(charset='utf-8')
    link(rel='icon', type='image/x-icon', href='/favicon.ico')
    link(rel='stylesheet', href='/css/boilerplate-styles.css')
  body

    main(ui-view)

    script(src='/js/boilerplate-vendor.js')
    script(src='/js/boilerplate-templates.js')
    script(src='/js/boilerplate-app.js')
